{% load static %}

 <!-- FOOTER SECTION  -->
 <section class="footer mt-4  p-4">
    <footer class="pt-4 ">
      <!-- FOOTER SECTION-001  -->
      <div class="container">
        <div class="row justify-content-center">
         
          <div class="col-md-3 col-md mt-2 ft-anm">
            <a href="/security" class="font-weight-bold text-light" style="text-decoration: none;">Security
            <hr class="f-hr m-0">
            </a>
          </div>
          <div class="col-md-3 col-md mt-2 ft-anm">
            <a href="{% static 'files/iwlogo.pdf' %}" class="font-weight-bold text-light" style="text-decoration: none;">Privacy Policy
              <hr class=" f-hr m-0">
            </a>
           
          </div>
          <div class="col-md-3 col-md mt-2 ft-anm">
            <a href="/fsg" class="font-weight-bold text-light" style="text-decoration: none;">FSG
              <hr class=" f-hr m-0">
            </a>
          </div>
          <div class="col-md-3 col-md mt-2 ft-anm">
            <a href="/terms" class="font-weight-bold text-light" style="text-decoration: none;">Terms of Use
              <hr class=" f-hr mt-1 ">
            </a>
          </div>
        </div>
      </div>
      <div class="container text-center mt-2">
            <p>© Intellect Wealth Financial Advisers Limited ABN 00 000 000 000 AFSL No. 000000</p>
      </div>

      <!-- FOOTER SECTION-002  -->
     
       <div class="container">
         <div class="row text-center">
           <div class="col-md-12">
             <small>All Rights Reserved By Aussie-Bangla Group | Site Developed By - www.techmelba.com</small>
           </div>
         </div>
       </div>
    </footer>